<div clas="container">
  <h2><%= @list.name %></h2>
  <p>.....detalhes da lista <%= @list.name %>....</p>
  <%# botar o detalhes da lista titulo do filme, overview, poster_url, rating (do genero da lista)%>
  <%= link_to "voltar para lista de movies", lists_path %>
  <br>
  <%= link_to "criar um bookmark", new_list_bookmark_path(@list) %>
  <br>
  <h3>Lista de comments:</h3>
  <%# mostrar os comentarios do bookmark %>
  <% @list.bookmarks.each do |bookmark|%>
    <%= bookmark.comment %>
  <%end%>

</div>
